.lead {
    max-width: 984px;
    margin: 56px auto 0;
}

@media (max-width: 1025px) {
    .lead {
        margin: 48px auto 0;
    }
}

@media (max-width: 770px) {
    .lead {
        margin: 48px -24px 0;
    }
}

@media (max-width: 425px) {
    .lead {
        margin: 48px -16px 0;
    }
}