.places__card {
    margin-top: 80px;
}

@media (max-width: 770px) {
    .places__card {
        margin-top: 72px;
    }
}

@media (max-width: 425px) {
    .places__card {
        margin-top: 50px;
    }
}