.footer__copy {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

@media (max-width: 425px) {
    .footer__copy {
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
    }
}